<ul>
    <li data-type="marker" class="control marker">
        <a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-map-marker"></span></a>
    </li>
    <li data-type="polyline" class="control polyline">
        <a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-resize-full"></span></a>
    </li>
    <li data-type="polygon" class="control polygon">
        <a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-retweet"></span></a>
    </li>
</ul>