.idea
                       /node_modules
                       /app/public/node_modules
                       /app/frontend/node_modules

                       #ext
                       *.psd

                       #secret
                       /app/config/secret.json