@charset "utf-8"

[class^="i-"]
    background url(icons.png) no-repeat 0 0
    display inline-block
    vertical-align top
    margin 0

.i-airplane{ background-position: 0 0; width: 18px; height: 18px; }
.i-angry{ background-position: 0 -68px; width: 18px; height: 18px; }
.i-bike{ background-position: 0 -136px; width: 18px; height: 18px; }
.i-black{ background-position: 0 -204px; width: 18px; height: 18px; }
.i-buenos{ background-position: 0 -272px; width: 18px; height: 18px; }
.i-car{ background-position: 0 -340px; width: 18px; height: 18px; }
.i-clear{ background-position: 0 -408px; width: 18px; height: 18px; }
.i-clouds{ background-position: 0 -476px; width: 18px; height: 18px; }
.i-comments{ background-position: 0 -544px; width: 18px; height: 18px; }
.i-dark1{ background-position: 0 -612px; width: 18px; height: 18px; }
.i-dark2{ background-position: 0 -680px; width: 18px; height: 18px; }
.i-databases{ background-position: 0 -748px; width: 18px; height: 18px; }
.i-delivery{ background-position: 0 -816px; width: 18px; height: 18px; }
.i-email{ background-position: 0 -884px; width: 18px; height: 18px; }
.i-film{ background-position: 0 -952px; width: 18px; height: 18px; }
.i-film2{ background-position: 0 -1020px; width: 18px; height: 18px; }
.i-first{ background-position: 0 -1088px; width: 18px; height: 18px; }
.i-flag{ background-position: 0 -1156px; width: 18px; height: 18px; }
.i-flag2{ background-position: 0 -1224px; width: 18px; height: 18px; }
.i-football{ background-position: 0 -1292px; width: 18px; height: 18px; }
.i-football2{ background-position: 0 -1360px; width: 18px; height: 18px; }
.i-football3{ background-position: 0 -1428px; width: 18px; height: 18px; }
.i-gps{ background-position: 0 -1496px; width: 18px; height: 18px; }
.i-graduation{ background-position: 0 -1564px; width: 18px; height: 18px; }
.i-greek{ background-position: 0 -1632px; width: 18px; height: 18px; }
.i-happy{ background-position: 0 -1700px; width: 18px; height: 18px; }
.i-hot{ background-position: 0 -1768px; width: 18px; height: 18px; }
.i-idea{ background-position: 0 -1836px; width: 18px; height: 18px; }
.i-kid{ background-position: 0 -1904px; width: 18px; height: 18px; }
.i-like{ background-position: -68px 0; width: 18px; height: 18px; }
.i-lock{ background-position: -68px -68px; width: 18px; height: 18px; }
.i-microphone{ background-position: -68px -136px; width: 18px; height: 18px; }
.i-money{ background-position: -68px -204px; width: 18px; height: 18px; }
.i-motorcycle{ background-position: -68px -272px; width: 18px; height: 18px; }
.i-musical{ background-position: -68px -340px; width: 18px; height: 18px; }
.i-party{ background-position: -68px -408px; width: 18px; height: 18px; }
.i-pharmacy{ background-position: -68px -476px; width: 18px; height: 18px; }
.i-pins{ background-position: -68px -544px; width: 18px; height: 18px; }
.i-play{ background-position: -68px -612px; width: 18px; height: 18px; }
.i-rainy{ background-position: -68px -680px; width: 18px; height: 18px; }
.i-restaurant{ background-position: -68px -748px; width: 18px; height: 18px; }
.i-rss{ background-position: -68px -816px; width: 18px; height: 18px; }
.i-sale{ background-position: -68px -884px; width: 18px; height: 18px; }
.i-shopping{ background-position: -68px -952px; width: 18px; height: 18px; }
.i-soda{ background-position: -68px -1020px; width: 18px; height: 18px; }
.i-tag{ background-position: -68px -1088px; width: 18px; height: 18px; }
.i-taxi{ background-position: -68px -1156px; width: 18px; height: 18px; }
.i-train{ background-position: -68px -1224px; width: 18px; height: 18px; }
.i-wheat{ background-position: -68px -1292px; width: 18px; height: 18px; }
