@charset "utf-8";

@import "../import/reset.styl"
@import "../import/variables.styl"
@import "../import/mixins.styl"
@import "../import/rewrite.styl"

body
    color mainColor
    font-family "Open Sans"

#notice-container
    position fixed
    width 200px
    min-height 12px
    top 5px
    right 5px

.notice
    width 200px
    font-size 12px
    background rgba(0, 0, 0, 0.5)
    padding 10px
    min-height 50px
    margin 0 0 3px
    color white

    .body
        padding 0 20px 0 0

    &.error
        border-left 6px solid red
    &.success
        border-left 6px solid #3ABE3A

.intro-container
    padding 10px
    background rgba(0,0,0,0.4)
    color white
    position fixed
    top 120px
    margin 0 0 0 30%
    width 40%

    h2
        font-size 18px

    .account
        overflow hidden

    .signin-container,
    .signup-container
        width 44%
        margin 0 3% 0 3%
        float left

    .make-container
        margin 15px 3% 0 3%
        button
            width 100%
            margin 10px 0 0 0
            height 60px

//control-container

.second-buttons
    position absolute
    top 5px
    left 320px

    ul
        overflow hidden
    li
        float left
        margin 0 10px 0 0

#control-container
    z-index 10
    position absolute
    top 5px
    left 5px

    .main-buttons
        background white
        width 300px

        ul
            overflow hidden
            margin 0
            padding 0
        li
            float left

    .tab-container
        background white
        padding 0 0 10px
        width 300px
    .tab-data

        .config
            padding 10px 0 10px 10px

        .layout
            .features
                display none

            &.active
                .features
                    display block


        header
            border-left 6px solid white
            padding 10px 0 10px 10px
            cursor pointer

            &:hover
                border-left 6px solid #5cb85c
                background #e6e6e6

        .features
            margin 0 0 0 10px

        .feature
            border-bottom 1px solid #e6e6e6
            border-left 3px solid white
            padding 8px 0 8px 10px
            cursor pointer

            &:hover
                background #e6e6e6
                border-left 3px solid #428bca


//bootstrap

.btn-control
    padding 7px 0
    width 75px