@charset "utf-8";

/*@import "../import/reset.styl"*/
@import "../import/variables.styl"
@import "../import/icons.styl"
@import "../import/mixins.styl"
@import "../import/rewrite.styl"
@import "../import/palitra.styl"

//reset

ul
    padding 0
    margin 0
li
    list-style none

body
    color mainColor
    font-family "Open Sans"

.unvisibleInput
    border 0
    outline  0

.key-value
    border 1px solid #DADADA

    td
        text-align center
        border 0 !important

    .value
        background #F2F2F2

        input
            background #F2F2F2

    .name
        background white
        font-weight bold


.tabs
    margin 10px 0
    ul
        overflow:hidden;
        padding 0
        margin 0
    li
        float:left;
        text-align:center;
        line-height:2;
        background rgb(227, 227, 227)
        outline 0

        &.active
            background white
            border: 0 !important

        &:hover
            background white

        a
            font-size 12px
            color mainColor
            text-decoration none
            display: block
            padding: 5px 0

    &.pos-bottom
        li
            border-top: 1px solid #B3B3B3

            &:hover
                border-top: 1px solid white

    &.pos-top
        li
            border-bottom: 1px solid #B3B3B3

            &:hover
                border-bottom: 1px solid white


    &.tab-count-1
        li:first-child:nth-last-child(1) {
            width: 100%;
        }

    &.tab-count-2
        li:first-child:nth-last-child(2),
        li:first-child:nth-last-child(2) ~ li {
            width: 50%;
        }

    &.tab-count-3
        li:first-child:nth-last-child(3),
        li:first-child:nth-last-child(3) ~ li {
            width: 33.3333%;
        }

    &.tab-count-4
        li:first-child:nth-last-child(4),
        li:first-child:nth-last-child(4) ~ li {
            width: 25%;
        }

    &.tab-count-5
        li:first-child:nth-last-child(5),
        li:first-child:nth-last-child(5) ~ li {
            width: 20%;
        }
.tabs-content
    padding 20px 15px


#notice-container
    position fixed
    width 200px
    min-height 12px
    top 5px
    right 5px

.notice
    width 200px
    font-size 12px
    background rgba(0, 0, 0, 0.5)
    padding 10px
    min-height 50px
    margin 0 0 3px
    color white

    .body
        padding 0 20px 0 0

    &.error
        border-left 6px solid red
    &.success
        border-left 6px solid #3ABE3A

.intro-container
    padding 10px
    background rgba(0,0,0,0.4)
    color white
    position fixed
    top 120px
    margin 0 0 0 30%
    width 40%

    h2
        font-size 18px

    .account
        overflow hidden

    .signin-container,
    .signup-container
        width 44%
        margin 0 3% 0 3%
        float left

    .make-container
        margin 15px 3% 0 3%
        button
            width 100%
            margin 10px 0 0 0
            height 60px


.tips
    z-index: 10

    .list-group
        max-height: 200px
        overflow: auto;

    .list-group-item
        padding 8px 20px 8px 10px
        border-left: 3px solid #fff
        color mainColor
        background white
        border-radius: 1px 1px

        &.active
            background white
            color mainColor
            border-color: #ddd
            border-left: 3px solid #428bca

            &:hover
                background white
                color mainColor
                border-color: #ddd
                border-left: 3px solid #428bca

        &:hover
            border-left: 3px solid #428bca

//control-container
#control-second-container
    width 300px
    z-index 10
    position absolute
    top 5px
    left 310px

    .second-buttons
        margin 0 0 10px

        ul
            overflow hidden
            padding 0
            margin 0
        li
            float left
            margin 0 5px 0 0
            list-style none

    .editor-container
        background white



        .sub-section
            margin 10px 0

    .icons-container
        ul
            overflow auto
            max-height 245px
        li
            float: left
            margin 0 7px 7px 0

        .item
            padding 2px

            &:hover, &.active
                background #e6e6e6

    .tag
        position: relative

        .tips
            position absolute
            left 0
            top: 40px;
            width: 270px;

        textarea
            width 100%
            resize none

#control-first-container
    z-index 10
    position absolute
    top 5px
    left 5px
    width 300px





    .main-buttons
        background white
        width 300px

        ul
            overflow hidden
            margin 0
            padding 0
        li
            float left
            list-style none

    .tab-container
        background white
        padding 0 0 10px
        max-height 700px
        overflow: auto

    .tab-data

        .layouts-container
            margin 0 0 10px
        .proejctLayouts
            border-right 2px solid red
        .accountLayouts
            border-right 2px solid #30ff00
        .publicLayouts
            border-right 2px solid #0075ff

        .layouts-container-header
            padding 10px 0 10px 10px

        .config
            padding 10px 0 10px 10px

        .layout
            .features
                display none

            &.active
                .features
                    display block

            header
                border-left 6px solid white
                padding 10px 0 10px 10px
                cursor pointer
                background: #F0F0F0

                &:hover
                    border-left 6px solid #5cb85c
                    background #e6e6e6

        .layout-header
            .manage
                float right
                margin: 0 20px 0 0

        .features
            margin 0 0 0 10px
            border-left 1px solid grey

        .feature
            border-bottom 1px solid #e6e6e6
            border-left 3px solid white
            padding 8px 20px 8px 10px
            cursor pointer

            .meta
                color #b8b8b8

            &:hover
                background #e6e6e6
                border-left 3px solid #428bca

            .manage
                float right
                margin: 0 0 0 10px
        .share-feature
            margin 0px 10px 0px 10px
            padding 7px

            li
                a
                    display block

//bootstrap

.btn-hover
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;

.btn-control
    padding 7px 0
    width 75px