@charset "utf-8";

@import "../import/variables.styl"
@import "../import/mixins.styl"
@import "../import/rewrite.styl"

body
    color mainColor

.map
    height 600px

.intro-container
    width 650px
    padding 10px
    background rgba(0,0,0,0.4)
    margin 0 0 0 -325px
    color white
    position fixed
    top 120px
    left 50%

    h2
        font-size 18px

    .account
        overflow hidden

    .signin-container,
    .signup-container
        width 44%
        margin 0 3% 0 3%
        float left

    .make-container
        margin 15px 3% 0 3%
        button
            width 100%
            margin 10px 0 0 0
            height 60px