<div class="editor-marker">
<div class="tabs tab-count-5 pos-top">
    <ul>
        <li data-type="text" class="active">
            <a href="#">Text</a>
        </li>
        <li data-type="style">
            <a  href="#">Style</a>
        </li>
        <li data-type="symbol">
            <a href="#">Symbol</a>
        </li>
        <li data-type="latlong">
            <a href="#">Lat/Lon</a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
        </li>
    </ul>
</div>
<div class="tabs-content">
<div data-type='latlong' class="tab tab-latlong">
    <form>
        <div class="latitude">
            <span>Latitude</span>
            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-resize-horizontal"></span>
                                </span>
                <input disabled type="text" class="form-control" name="latitude" placeholder="Latitude" value="<%= lat %>">
            </div>
        </div>
        <br/>
        <dev class="longitude">
            <span>Longitude</span>
            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-resize-vertical"></span>
                                </span>
                <input disabled type="text" class="form-control" name="latitude" placeholder="Latitude" value="<%= lon %>">
            </div>
        </dev>
    </form>
</div>

<div data-type='symbol' class="tab tab-symbol">
<div class="icons-container">
<ul>
<li>
    <div class="item">
        <span class="i-airplane"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-angry"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-black"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-car"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-clear"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-clouds"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-comments"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-dark2"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-databases"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-delivery"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-email"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-film"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-film2"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-first"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-flag"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-flag2"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-football"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-football2"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-football3"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-gps"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-graduation"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-greek"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-happy"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-hot"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-idea"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-kid"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-like"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-lock"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-microphone"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-money"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-motorcycle"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-musical"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-party"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-pharmacy"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-pins"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-play"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-rainy"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-restaurant"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-rss"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-sale"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-shopping"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-soda"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-tag"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-taxi"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-train"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-wheat"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-airplane"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-angry"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-black"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-car"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-clear"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-clouds"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-comments"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-dark2"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-databases"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-delivery"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-email"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-film"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-film2"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-first"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-flag"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-flag2"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-football"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-football2"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-football3"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-gps"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-graduation"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-greek"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-happy"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-hot"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-idea"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-kid"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-like"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-lock"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-microphone"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-money"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-motorcycle"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-musical"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-party"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-pharmacy"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-pins"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-play"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-rainy"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-restaurant"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-rss"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-sale"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-shopping"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-soda"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-tag"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-taxi"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-train"></span>
    </div>
</li>
<li>
    <div class="item">
        <span class="i-wheat"></span>
    </div>
</li>

</ul>
</div>
</div>
<div data-type='text' class="tab active tab-text">
    <form>
        <div class="form-group">
            <label for="title-marker">Title</label>
            <input id="title-marker" value="<%= title %>" type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="description-marker">Description</label>
            <textarea id="description-marker" class="form-control" name="description" rows="5"  placeholder="Description"><%= description %></textarea>
        </div>
        <!--<div class="tags-container">
            <div class="tag">
                <div class="input-group">
                <span class="input-group-addon">
                    <a href="#">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </span>
                    <input type="text" class="form-control" placeholder="Tag">
                </div>
                {{!--<div class="tips">
                <div class="list-group ">
                    <a href="#" class="list-group-item active">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>

                </div>
            </div>--}}
            </div>
        </div>-->
    </form>
</div>
<div data-type='style' class="tab tab-style">
    <div class="sub-section">
        <div class="btn-group">
            <button type="button" class="btn btn-default">Small</button>
            <button type="button" class="btn btn-default">Medium</button>
            <button type="button" class="btn btn-default">Large</button>
        </div>
    </div>
    <div class="sub-section">
        <div class="palitra">
            <ul class="colored">
                <li class="active color-1">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-2">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-3">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-4">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-5">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-6">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-7">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-8">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-10">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-11">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-12">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-13">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-14">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-15">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-16">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-17">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-18">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
                <li class="color-19">
                    <div class="choose">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

</div>

</div>