<span class="glyphicon glyphicon-retweet"></span>
<span class="name"><%= title %></span>
<a class="manage delete" href="#" title="Delete feature">
    <span class="glyphicon glyphicon-trash"></span>
</a>
<!--<a class="manage" href="#" title="Share feature to account">
    <span class="glyphicon glyphicon-share"></span>
</a>-->
<!--
<div class="share-feature">
    <div class="share-header">
        <a href="#" class="close">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
    <div>Account layers:</div>
    <ul>
        <li>
            <a href="#">Layer name 1</a>
        </li>
        <li>
            <a href="#">Layer name 2</a>
        </li>
    </ul>
</div>
-->
