<p>
    Thank you for signing up to join Free map!
</p>
<p>
    To complete your registration and confirm your email address, please click	the following link
    Activate My Account
</p>
<p>
    If this link doesn’t work, please copy it into your browser’s address bar:
    http://freemap/promo/confirm/53296330f904500d783e91ed
</p>