<div id="app">
<div id="main"></div>
<div id="control-first-container">

<div class="tab-container">
</div>
</div>
<div id="control-second-container">

<div class="editor-container">
</div>
</div>
</div>

<div id="notice-container"></div>
<script type="text/javascript">
    var Maps = {};
    Maps.config = {{{script}}};
</script>
<script type="text/javascript" src="/js/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript">
    require(['apps/editor/editor'], function(){});
</script>