<!DOCTYPE html>
<html>
<head>
    <title>Free maps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link href="/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/animate.css" rel="stylesheet" type="text/css" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<section id="main">
    <div id="map"></div>
</section>
<div class="intro-container col-md-6 col-md-offset-3">
    <div class="account">
        <div class="signin-container">
            <p>Sign In</p>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" name="signInEmail" id="signInEmail" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="signInPassword" id="signInPassword" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary signin">Sign in</button>
            </form>
        </div>
        <div class="signup-container">
            <p>Sign Up</p>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" name="signUpEmail" id="signUpEmail" placeholder="Email" required >
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="signUpPassword" id="signUpPassword" placeholder="Password" required >
                </div>
                <button type="submit" class="btn btn-primary signup">Sign up</button>
            </form>
        </div>
    </div>
    <div class="make-container">
        <button type="button" class="btn btn-primary btn-lg">Make a Free Map</button>
    </div>
</div>
<div id="notice-container">
</div>

<script type="text/javascript" src="js/require.js"></script>
<script type="text/javascript">
    require(['js/config'], function(){
        require(['apps/home/home'], function(){});
    });
</script>

</body>
</html>