<header id="header">
    <a class="logo" href="/project">Free Map!</a>
    <nav class="headerNav">
        
    </nav>
</header>

<script type="text/javascript" src="js/require.js"></script>
<script type="text/javascript">
    require(['js/config'], function(){
        require(['apps/home/home'], function(){});
    });
</script>

<footer id="footer"></footer>